#contact_me{
    display: flex;
    flex-direction: column;

    width: 40em;
    max-width: 100vw;

    margin: 1em;
}

#contact_me h2{
    
    /* Adjustment for small screens */
    @media (max-width: 35em)
    {
        text-align: center;
    }
}

#contact_me section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contact_me section h3{
    font-size: medium;
    font-weight: normal;

    padding-top: 1em;
    padding-bottom: .5em;
}

#contact_me section span{
    display: grid;
    grid-template-columns: 15fr 85fr;
    justify-items: center;
    align-items: end;

    width: 15em;

    padding: .25em 0em 0em 1em;
}