#form_email_input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: .4em;
}

#form_email_input :focus{
    outline: none;
    border-bottom: .3em solid var(--accent-secondary);
}

#form_email_input.emailinput{
    width: 40em;

    /* Adjustment for small screens */
    @media (max-width: 45em)
    {
        flex-direction: column;
        align-items: left;
    }
}

#form_email_input input{
    background-color: var(--background);
    color: var(--text);

    width: 30rem;

    border: none;
    border-right: .3em solid transparent;               /* Needed to align left edge with text-areas */
    border-bottom: .3em solid var(--accent-primary);

    /* Adjustment for small screens */
    @media (max-width: 45em)
    {
        max-width: 85vw;
        
        margin-top: .4em;
        margin-bottom: .4em;
    }
}