#header header{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: .5em 0em 1em 1em;
    border-bottom: 1em solid var(--accent-primary);
}

#header header h1{
    margin: 0em;
    margin-right: 2em;
}

#header nav > *{
    margin-left: .75em;
}