:root{
    /* Colour Definitions */
    color-scheme: light dark;

    --text: light-dark(#0A100D, #DEEFF8);
    --background: light-dark(#DEEFF8, #0A100D);
    --accent-primary: light-dark(#00A6A6, #002929);
    --accent-secondary: light-dark(#002929, #00A6A6);
    --highlight: #00A344;

    /* Page Colours */
    background-color: var(--background);
    color: var(--text);

    /* Page Text */
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 1.3em;
}

/* Style-By-Class */
.hidden{
    display: none;
}

.italics{
    font-style: italic;
}

/* Override CSS Defaults */
h1, h2, h3, h4, h5, h6{
    margin: 0rem;
}

p, form, ul, ol, dl{
    margin: 1rem 0rem 1rem 0rem;
}

input, textarea{
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: medium;

    padding: 0em;
    margin: 0em;
}