#my_cv{
    display: grid;
    grid-template-columns: 50fr 50fr;

    /* Adjustment for small screens */
    @media (max-width: 55em)
    {
        display: flex;
        flex-direction: column;
    }
}

#my_cv #cv_section{
    grid-row: span 2;
}

#my_cv #cv_section:first-child, #my_cv #cv_section:last-child{
    grid-row: span 1;
}

#my_cv #cv_section:first-child ul{
    display: grid;
    grid-template-columns: 50fr 50fr;
    list-style-type: none;
    padding: 0em;
}