a.nav_button{  
    background-color: var(--accent-primary);
    color: var(--text);

    font-size: large;
    font-weight: normal;
    text-decoration: none;
    text-wrap-mode: nowrap;

    padding: .1em;
    border: .2em solid var(--accent-secondary);
}

a.nav_button:hover{
    background-color: var(--accent-secondary);
    color: light-dark(var(--background), var(--text)); /*Always use light text for contrast*/

    font-style: normal;
}

a.nav_button.active{
    background-color: var(--highlight);
}