#popup.visible{
    position: fixed;
    bottom: 0;
    right: 0;

    background-color: var(--accent-primary);
    text-align: left;
    font-size: large;

    border: .25em solid var(--accent-secondary);
    margin: 1em;

    box-shadow: 0em 0em .5em var(--accent-primary);
}

#popup.visible.window, #popup.visible.custom{
    top: 10vh;
    bottom: 10vh;
    left: 30vw;

    max-width: 40vw;

    padding: 1.5em .5em .5em .5em;

    overflow-y: scroll;

    /* Adjustment for small screens */
    @media (max-width: 55em)
    {
        left: 5vw;
        max-width: 90vw;
    }
}

#popup.visible.alert{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 80vw;

    padding: .5em;
}

/* Close Button Styling */
#popup.visible input{
    cursor: pointer;

    background-color: var(--accent-secondary);

    padding: .25em .5em;
    border-radius: 0em;
}

#popup.visible.window input, #popup.visible.custom input{
    position: absolute;
    top: 0;
    right: 0;

    font-size: xx-small;
}

#popup.visible.alert input{
    margin-left: .5em;
}