#popup.visible{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 80vw;

    position: fixed;
    bottom: 0;
    right: 0;

    background-color: var(--accent-primary);
    font-size: large;

    padding: .5em;
    border: .25em solid var(--accent-secondary);
    margin: 1em;
}

#popup.visible input{
    margin-left: .5em;
}