#projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#projects #image_gallery{
    text-align: center;
}

#projects #image_gallery img{
    width: 30%;
}