#project_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--accent-primary);

    width: 25em;
    height: 30em;

    padding: 0em .5em;
    border: .5em solid var(--accent-secondary);
    margin: 1em;
}

#project_card > *{
    padding: .5rem 0rem;
}

#project_card h2{
    text-align: center;
}

#project_card div{
    overflow-y: hidden;
}

#project_card div p:hover{
    cursor: pointer;
    font-style: italic;
}