#project_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--accent-primary);
    text-align: center;

    width: 20em;
    height: 30em;

    padding: .75em;
    border: .5em solid var(--accent-secondary);
    margin: 1em;
}

#project_card .thumbnail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 20em;
}

#project_card .dohover:hover{
    font-style: italic;
    cursor: pointer;
}

#project_card code{
    word-wrap: normal;
    overflow-wrap: normal;
    overflow-y: scroll;
}